.wrapper {
    display: flex;
    justify-content: center;
}
.chat {
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
}
.bot-message {
    text-align: start;
}
.me-message {
    text-align: end;
}